[Unit]
Description=Gunicorn daemon for Django application
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/SPORTSAPPLICATION
ExecStart=/home/ubuntu/env/bin/gunicorn --workers 3 --bind unix:/home/ubuntu/SPORTSAPPLICATION/SportMeet/gunicorn.sock SportMeet.wsgi:application
Restart=always
Environment="PATH=/home/ubuntu/env/bin"

[Install]
WantedBy=multi-user.target